@{
    ViewData["Title"] = "User Page";
}

@model List<User>

<div class="container mt-5">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Users Records</h2>
        </div>
        <div class="col-6 text-end float">
            <a asp-controller="User" asp-action="Create" class="btn btn-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg> &nbsp; Add New User
            </a>
        </div>
    </div>
    <form asp-action="SearchUser" class="w-50 m-1 float-end">
        <div class="row">
            <div class="col-md-8">
                <input name="term" class="form-control border-2" placeholder="Search by user name" />
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-dark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
            </div>
        </div>
    </form>
    <table class="table table-dark mt-5">
        <thead>
            <tr>
                <th width="15%">Name</th>
                <th width="25%">Address</th>
                <th width="15%">Phone No</th>
                <th width="15%"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (User user in Model)
            {
                <tr>
                    <td width="15%">@user.Name</td>
                    <td width="25%">@user.Address.Street @user.Address.PostCode @user.Address.City @user.Address.Country</td>
                    <td width="15%">@user.PhoneNo</td>
                    <td width="15%">
                        <p>
                            <a class="nav-link text-warning" asp-controller="User" asp-action="Detail" asp-route-id="@user.Id">
                                more details ...
                            </a>
                        </p>
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id"
                               class="btn btn-success mx-2 w-50 p-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                </svg>&nbsp; Edit
                            </a>
                            <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id"
                               class="btn btn-success mx-2 w-50 p-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                </svg>&nbsp; Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
</div>
